[data-md-color-scheme="lightish"]{    
    --md-default-bg-color: #f9f7f4;
    --md-primary-fg-color: #7da17d;
    --md-primary-fg-color--light: #f9f7f4;
    --md-primary-fg-color--dark: #7da17d;
    --md-typeset-color: #323232;
    --md-typeset-a-color: #7da17d;
    --md-footer-bg-color: rgb(47 79 79 / 50%);
}


[data-md-color-scheme="darkish"]{    
    --md-default-bg-color: #0c1815db;
    --md-primary-bg-color: #f9f7f4;
    --md-primary-fg-color: #7da17db3;
    --md-primary-fg-color--light: #f9f7f4;
    --md-primary-fg-color--dark: #7da17db3;
    --md-typeset-color: #f9f7f4;
    --md-typeset-a-color: darkseagreen;
    --md-footer-bg-color: rgb(47 79 79 / 50%);
}