[data-md-color-scheme="lightish"]{    
    --md-default-bg-color: antiquewhite;
    --md-primary-fg-color: darkseagreen;
    --md-primary-fg-color--light: #FFEBCD;
    --md-primary-fg-color--dark: #66CDAA;
    --md-typeset-a-color: forestgreen;
    --md-typeset-color: black;
}


[data-md-color-scheme="darkish"]{    
    --md-default-bg-color: #0c0d18db;
    --md-primary-bg-color: blanchedalmond;
    --md-primary-fg-color: darkslategray;
    --md-primary-fg-color--light: #3CB371;
    --md-primary-fg-color--dark: #2F4F4F;
    --md-typeset-color: blanchedalmond;
    --md-typeset-a-color: darkseagreen;
    --md-footer-bg-color: rgb(47 79 79 / 50%);
}